/build/
/zsmart/build/
/philips/build/
/mqtt/build/
/.gradle/
openbeken-cache.json
google-home-devices.json
mqtt/data/
data/

# Paho MQTT client persistence directories
*-tcplocalhost1883/
obk-discovery-*/
hue-bridge-app*/
